build
.lock
*.lock
.svn
.xcuserstat
*.xcscmblueprint
*.xcuserstate
.project
*.o
*.lo
*.la
*.al
.libs
*.so
*.so.[0-9]*
*.pyc
*.pyo
*.rej
*~
#*#
.#*
.*.swp
.DS_Store
LYPlayer.xcodeproj/xcuserdata
LYPlayer.xcodeproj/project.xcworkspace